.table-view {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-radius: 8;
}

.table-view .column-header-background {
    -fx-background-color: #3C2E7A;
}

.table-view .column-header {
    -fx-background-color: #3C2E7A;
    -fx-border-color: white;
    -fx-border-width: 0 1 2 0;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.table-view .table-cell {
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
}

.table-row-cell {
    -fx-background-color: #5644A8;
}

.table-row-cell:odd {
    -fx-background-color: #3C2E7A;
}

.table-row-cell:hover {
    -fx-background-color: #7D6FCC;
}

.table-row-cell:selected {
    -fx-background-color: #7D6FCC;
}

.table-row-cell:selected:hover {
    -fx-background-color: #9088D9;
}

.table-view .scroll-bar {
    -fx-background-color: #3C2E7A;
}

.table-view .scroll-bar .thumb {
    -fx-background-color: #5644A8;
}

.table-view .scroll-bar .thumb:hover {
    -fx-background-color: #7D6FCC;
}

.table-view .placeholder .label {
    -fx-text-fill: white;
}